<a href="https://colab.research.google.com/github/puneetha24/CRT-Pragram/blob/master/3_12_19.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# markdown
## markdown
### insert a image
![text](https://images.pexels.com/photos/414612/pexels-photo-414612.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940)
### insert a site
[site](https://www.google.com/search?q=images&rlz=1C1CHBD_enIN853IN853&sxsrf=ACYBGNRrxfcIs58ENqKXSEeFs2VbHBtt9g:1575346680312&tbm=isch&source=iu&ictx=1&fir=aT1lQMo5nzpYfM%253A%252CpFs_4Fcq5AgpmM%252C_&vet=1&usg=AI4_-kRn00tCo2yLOqdsKFKZLLtDzoFynw&sa=X&ved=2ahUKEwihspzaz5jmAhWHf30KHRYbBpYQ9QEwAXoECAgQMQ#imgrc=_&vet=1)
###**bold and single*italic text
### for creating ordered list
1.abc
2.efg
  1.a
  2.b

###**bold and single* italic text
**gitam**<br>
*gitam*
### input
### variable
### number,boolean
### string

print("hello world")

# variable creation
a = 10
b = 20
a+b

In [0]:
name = "gitam"
print("university"+ name)

universitygitam

In [0]:
name = input("enter a name")
age = int(input("enter age"))
print("my name is:",name,"and my age is:",age)

enter a namepuneetha
enter age20
my name is: puneetha and my age is: 20

## take two numbers and do the following arithmetic operations

In [0]:
a = int(input("enter first number"))
b = int(input("enter second number"))
c = a+b
d = a-b
e = a*b
f = a/b
print("addition:",c,"sub",d,"multiplication",e,"division",f)

enter first number2
enter second number4
addition: 6 sub -2 multiplication 8 division 0.5

### fundamental datatypes:
1.int
2.float
3.complex
4.boolean
5.string

In [0]:
a = 10
b = 10.3
c = 5+5j
print(type(a),type(b),type(c))

<class 'int'> <class 'float'> <class 'complex'>

In [0]:
c = complex(3,4)
print(c)

(3+4j)

In [0]:
c1 = 3+5j
c2 = 4+2j
print(c1+c2)
print(c1-c2)
print(c1*c2)

(7+7j)
(-1+3j)
(2+26j)

## boolean

In [0]:
a = 10
b = 20
a>b

False

In [0]:
s1 = "abc"
s2 = "def"
print(type(s1),type(s2))

<class 'str'> <class 'str'>

In [0]:
s1 = "100"
print(type(s1))
a = int(s1)
print(type(a))
f = 1.5
a1 = int(f)
print(type(a1))
print(a1)

<class 'str'>
<class 'int'>
<class 'int'>
1

In [0]:
a1 = 1234
print(len(str(a1)))

4

### operaters
1.arithmetic operaters --->+,-,*,%,//,**
2.logical operaters ---> and,or,not
3.relational operators ---><,>,<=,>=,==,!=
4.membership operation ---> in,not in

In [0]:
n1 = 12
n2 = 21
print(n1+n2)
print(n1-n2)
print(n1*n2)
print(n1%n2)
print(n1/n2)
print(n1**n2)
print(n1//n2)

33
-9
252
12
0.5714285714285714
46005119909369701466112
0

# relational operators

In [0]:
print(n1 == n2)
print(n1 != n2)
print(n1<n2)
print(n1>n2)

False
True
True
False

# logical operators

In [0]:
n1 = 20
print(n1>=10 and n1<=20)
print(n1>=10 or n1<= 20)
print(not n1)

True
True
False

## problem on relation operators
### take 2 integers and do the following operations
>,<,==,!=,<=,>=

In [0]:
a = 10
b = 20
print(a<b)
print(a>b)
print(a!=b)
print(a==b)
print(a>=b)
print(a<=b)

True
False
True
False
False
True

# membership operators
## in ---true if value is found in sequence
## not in ---true if value is not found in sequence

In [0]:
f = [1,2,3,4]
print(1 in f)
print(5 in f)
print(6 not in f)

True
False
True

## conditional statement
1. if
2.else
3.elif
##syntax:
####if condition:
> statement<br>
#####else:
> statements
## to check even or odd

In [0]:
n = int(input("enter a number"))
if n%2 == 0:
  print("even")
else:
    print("odd")

enter a number2
even

## to check given number is multiple of 3 and 5

In [0]:
n = int(input("enter a number"))
if n%3 == 0 and n%5 == 0:
  print("multiple of 3 and 5")
else:
  print("number is not multiple of 3 and 5")

enter a number12
number is not multiple of 3 and 5

## check given number is positive,negative or zero

In [0]:
n == int(input("enter a number"))
if n>0:
  print("positive")
elif n<0:
  print("negative")
else:
  print("zero")

enter a number2
positive

## check the input is leap or not

In [0]:
year = int(input("enter a year"))
if year % 400 == 0 or (year % 100 !=0 and year % 4 == 0):
  print("leap year")
else:
  print("not a leap year")

enter a year2100
not a leap year

## loops
###1. while
###2. do while
# print no from 1 to n

In [0]:
n = int(input("enter a number"))
i =1
while i <= n:
     print(i,end=" ")
     i =i+1

enter a number10
1 2 3 4 5 6 7 8 9 10

## output should be sum of even numbers from 1 to n

In [0]:
n = int(input("enter the number"))
i = 1
s = 0
while i <= n:
  if i % 2 == 0:
    s = s+i
i = i + 1
print(s)