<a href="https://colab.research.google.com/github/puneetha24/CRT-Pragram/blob/master/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### functional programming
1.simple

2.easy to understand

3.better reusability

4.length of the program is divided into sub programs

# read the number 
# print the even digit sumfrom the number

#input:1234
#output:6(2+4)

In [7]:
def evendigitsum(n):
  s=0
  while n != 0:
    r= n % 10
    if r % 2 == 0:
      s = s+r
    n = n//10
  return s
evendigitsum(1234)

6

In [8]:
def square(x):
  print(x*x)
print(square(4))

16
None

In [9]:
def square(x):
    return x*x
square(3)

9

In [11]:
def cube(x):
  return x*x*x
cube(4)

64

In [12]:
def multiply(x,y=0):
    print("value of x=",x)
    print("value of y=",y)
    return(x*y)
print(multiply(y=2,x=4))

value of x= 4
value of y= 2
8

# swap values

In [20]:
def swap(x=2,y=3):
    temp = x
    x = y
    y = temp
    return x,y
swap(2,3)

(3, 2)

input : 19535
output : 9

In [31]:
def largedigit(n):
  large = 0
  while n!=0:
    r=n%10
    if large < r:
      large = r
    n=n//10
  return large
largedigit(19535)

9

## for loop
#### syntax 1:
for i in range (start,stop,step):
> statement
#### syntax 2:
for i in iterableobject
> statement

# function to print the number btw two limits

In [34]:
def printseries(lb,ub):
    for x in range(lb,ub+1):
        print(x,end = ' ')
    return
printseries(1,10)

1 2 3 4 5 6 7 8 9 10

##collection types:
####1.list
####2.set
####3.tuple
####4.dictionary

##list:

####1.one of the data structure in phyton
####2.data structure is to store,sort and search options
####3.its one common data structure in phyton, the iteams of list sepeated by comma  and enclosed in square brackets[]
 
 ##example

    - list1=[1,2,3,4,5]
    - list2={"gitam",1,2]

In [40]:
li = [1,8,16,9,2]
print(li)#will print all list items
print(li[0])
print(li[1])
print(li[-5])
print(li[1:])
print(li[1:4])

[1, 8, 16, 9, 2]
1
8
1
[8, 16, 9, 2]
[8, 16, 9]

# update list

In [43]:
li = ["gitam",1234,2018,2019,'hyd']
print(li)
del li[3]
print(li)

['gitam', 1234, 2018, 2019, 'hyd']
['gitam', 1234, 2018, 'hyd']

# basic list operations
li = [1,2,3,4]
#len of the string
print(len(li))

#